<div fxLayout="row" class="container fadeIn">
    <app-sidenav fxHide.lt-sm class="sidenav" fxFlex="25" fxFlex.gt-sm="20"></app-sidenav>
    <!-- Theory -->
    <div fxLayout="column" class="managment" fxFlex *ngIf="!isExercises">
        <mat-card class="main">
            <mat-card-header class="mainHeader">Modal Verbs</mat-card-header>
            <mat-card-content class="mainContent">

                <!-- Posible ejercicio con de listening 
                http://www.adelescorner.org/listening/imas_story/imas_story.html-->
                <!-- <audio src="http://www.adelescorner.org/listening/imas_story/ima.mp3" controls></audio> -->

                <!-- Modal Verbs -->
                <h3><b>Theory and grammar uses</b></h3>

                <div *ngFor="let theory of data">
                    <div class="verbContent">
                        <div class="theoryContent">
                            <p><b>{{ theory.verb }}</b></p>
                            <p>{{ theory.theory }}</p>
                            <li *ngFor="let example of theory.examples">{{ example }}</li>
                        </div>
                        <img [src]="theory.imgSource" alt="" class="exampleImage">
                    </div>
                    <br>
                </div>

            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary" class="mainButton" (click)="goExercises()">
                    Exercises
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <!-- Exercises -->
    <div fxLayout="column" class="exercise" fxFlex *ngIf="isExercises">
        <mat-card class="card" *ngIf="dataList.length">
            <mat-card-title class="title-card">
                <span>Complete Sentences</span>
            </mat-card-title>
            <mat-card-content class="content" *ngFor="let exercise of dataList; index as i">
                <div *ngFor="let word of exercise.sentence" style="display: inline-block">
                    <mat-label *ngIf="word == '@' && exercise.answer == exercise.correctAnswer && check">{{
                        exercise.answer }}</mat-label>
                    <mat-label *ngIf="word != '@'">{{ word }}</mat-label>
                    <mat-form-field
                        *ngIf="word == '@' && (exercise.answer != exercise.correctAnswer && check || !check)"
                        style="width:100px;">
                        <mat-select [(value)]="exercise.answer" (selectionChange)="resetCheck()">
                            <mat-option [value]="option" *ngFor="let option of exercise.options">{{option}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span>&nbsp;</span>
                </div>
                <span>&nbsp;</span>
                <mat-icon *ngIf="exercise.answer == exercise.correctAnswer && check" class="svg-ok" svgIcon="ok">
                </mat-icon>
                <mat-icon *ngIf="exercise.answer != exercise.correctAnswer && check" class="svg-error" svgIcon="error">
                </mat-icon>
            </mat-card-content>
            <mat-card-footer class="options">
                <button mat-raised-button color="primary" class="secundaryButton"
                    (click)="checkSentences()">Check</button>
                <button mat-raised-button color="accent" class="secundaryButton" (click)="retry()">Retry</button>
                <button mat-raised-button color="accent" class="secundaryButton" (click)="backTheory()">Back</button>
            </mat-card-footer>
        </mat-card>
    </div>
</div>