<div fxLayout="row" class="container fadeIn">
    <app-sidenav fxHide.lt-sm class="sidenav" fxFlex="25" fxFlex.gt-sm="20"></app-sidenav>
    <div fxLayout="column" class="managment" fxFlex>
        <mat-card class="main">
            <img mat-card-image class="mainImg" src=".././../../assets/welcome.gif">
            <mat-card-content class="mainContent">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet eius quaerat a recusandae illo. Hic quis, tenetur fugit quisquam doloribus praesentium aperiam iure alias cumque, tempora laboriosam, quas officiis dolorum!
            </mat-card-content>
            <mat-card-actions class="mainAction">
                <button mat-flat-button color="primary" class="mainButton">
                    <a [routerLink]="['/modal-verbs-theory']" routerLinkActive="active-link" class="linkButton">Go Learn!</a>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>