<div fxLayout="row" class="container fadeIn">
    <app-sidenav fxHide.lt-sm class="sidenav" fxFlex="25" fxFlex.gt-sm="20"></app-sidenav>
    <div fxLayout="column" class="managment" fxFlex>
        <mat-card class="main">
            <img mat-card-image class="mainImg" src=".././../../assets/welcome.gif">
            <mat-card-content class="mainContent">
                <p>EN-LEARN is a platform to learn English, its purpose is to provide theory and exercises so that
                    anyone can understand and practice English.</p>
                <p>For its development, professionals in the field have been consulted, offering us their advice and
                    guidance.</p>
            </mat-card-content>
            <mat-card-actions class="mainAction">
                <button mat-flat-button color="primary" class="mainButton">
                    <a [routerLink]="['/modal-verbs-theory']" routerLinkActive="active-link" class="linkButton">Go Learn!</a>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>