<div fxLayout="row" class="container fadeIn">
    <app-sidenav fxHide.lt-sm class="sidenav" fxFlex="25" fxFlex.gt-sm="20"></app-sidenav>
    <div fxLayout="column" class="exercise" fxFlex>
        <mat-card class="card" *ngIf="dataList.length">
            <mat-card-title class="title-card">
                <span>Complete Sentences</span>
            </mat-card-title>
            <mat-card-content class="content" *ngFor="let exercise of dataList; index as i">
                <div *ngFor="let word of exercise.sentence" style="display: inline-block">
                    <mat-label *ngIf="word != '@'">{{ word }}</mat-label>
                    <mat-form-field *ngIf="word == '@'" style="width:100px;">
                        <mat-select [(value)]="exercise.answer">
                            <mat-option [value]="option" *ngFor="let option of exercise.options">{{option}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span>&nbsp;</span>
                </div>
                <span>&nbsp;</span>
                <mat-icon *ngIf="exercise.answer == exercise.correctAnswer && check" class="svg-ok" svgIcon="ok"></mat-icon>
                <mat-icon *ngIf="exercise.answer != exercise.correctAnswer && check" class="svg-error" svgIcon="error"></mat-icon>
            </mat-card-content>
            <mat-card-footer class="options">
                <button mat-raised-button color="primary" (click)="checkSentences()">Check</button>
                <button mat-raised-button color="accent" (click)="retry()">Retry</button>
            </mat-card-footer>
        </mat-card>
    </div>
</div>